<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Travel Booking</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="main-container">
        <div class="content">
            <header>
                <h1>Sign Up</h1>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
            
                        {% if 'user_id' in session %}
                            <li><a href="{{ url_for('profile', user_id=session['user_id']) }}">{{ user.username }}</a></li>
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            <main>
                <section class="auth-form">
                    <h2>Create an account</h2>
                    <form action="/signup" method="post">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>

                        <button type="submit">Sign Up</button>
                    </form>
                </section>
            </main>

        </div>
        <footer>
            <p>&copy; 2025 Travel Booking</p>
        </footer>
    </div>
</body>

</html>